.item {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 4px solid black;
  border-radius: 50%;
  box-shadow: 5px 5px 10px;
}

.name {
  color: white;
  font-weight: bold;
}

.statusOnline {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: green;
}

.statusOffline {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: brown;
}

img {
  margin: 0 auto;
  width: 40%;
  padding-top: 17%;
}

p {
  text-align: center;
}
